#dot {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 25px;
  background: rgb(50, 50, 50);
} 

body {
  background-color:gray;
}
